
/*INDEX STYLE*/

body {
	background-color: white;
	font-family: 'avenir'}

header {
	display: block;
	position: fixed;
	background-color: #ededed;
	margin-left: 10vw;
	margin-top: 5vw;
	width: 26vw;
	text-align: left;
	}

header h1, h2 {
	font-size: 1.5em;
	margin-left: -10px;
	border-style: solid;
	border-width: 3px;
	padding: 7px;
}

nav {
	display: inline-flex;
	flex-wrap: wrap;
	position: fixed;
	background-color: transparent;
	margin-top: 23vw;
	margin-left: 15%;
	width: 70vw;
	text-align: left;
}

nav ul {
	margin-right: 10px;
	display: inline;
	padding: 15px;
	background-color: #ededed;
}

nav ul:hover {
	background-color: #d3edd1;
}


nav a{	
	font-size: 1em;
	margin-left: -20px;
	border-style: solid;
	border-width: 2.2px;
	padding: 7px;
	color: black;
	border-color: black;
}




