
/*STYLE*/

body {
	background-color: #white;
	font-family: 'Alice'}
			
header {
	display: block;
	z-index: 10;
	margin: 0 auto;
	text-align: center;
	padding: 5px;
	position:relative;
	top: 1vw;
	}

nav {
	display: block;
	position: fixed;
	background-color: #dbdbdb;
	margin-left: 10vw;
	width: 12vw;
	text-align: left;
}

nav a {
	margin-left: -10px;
}

nav a:hover {
	margin-left: 0px;
}
