
/*STYLE*/

body {
	background-color: #white;
	font-family: 'avenir'}

header {
	display: block;
	position: fixed;
	background-color: #ededed;
	margin-left: 10vw;
	margin-top: 5vw;
	width: 26vw;
	text-align: left;
	}

header h1, h2 {
	font-size: 1.5em;
	margin-left: -10px;
	border-style: solid;
	border-width: 3px;
	padding: 7px;
}

nav {
	display: inline;
	position: fixed;
	background-color: transparent;
	margin-top: 22vw;
	margin-left: 20vw;
	width: 60vw;
	text-align: left;
}

nav ul {
	margin-right: 10px;
	display: inline;
	padding: 15px;
	background-color: #ededed;
}

nav a{	
	font-size: 1em;
	margin-left: -20px;
	border-style: solid;
	border-width: 2.5px;
	padding: 7px;

}



