body {
	background-color: white;
	font-family: 'Jost', sans-serif;
}

header {
	position: fixed;
	margin-left: -10px;
	padding: 20px 0px 0px 5px;
	background-image: linear-gradient(rgba(255,255,255, 1), rgba(255,255,255, .7), rgba(255,255,255, 0));
	text-align: right;
	width: 100%;
	height: 120px;
	top:0;
}

header h1 {
	color: black;
	margin-top: -6px;
	padding-right: 70px;
	font-family: 'Homemade Apple', cursive; 
	font-size: 2.5em;

}
header a {
	color: black;
	text-decoration: none;
}

header a:visited {
	color: black;
	text-decoration: none;
}

.btn {
	position: fixed;
	display: block;
	left: 50px;
	height: 30px;
	color: black;
	background-color: transparent;
	padding: 10px;
	margin-top: 100px;
}

.btn h2 {
	margin-top: -5px;
}


.menu {
  background-color: #f0f0f0;
  position: fixed;
  top: 150px;
  left: -15px;
  z-index: 2;
  padding: 10px 0 10px 20px;
  width: 55px;
  font-size: 1.5em;
  text-align: left;
  height: 150px;
  width: 130px;
}
.menu p {
	margin-left: 5px;
	text-rendering: bold;
}

.menu:hover {
	height: ;
}


.controls > * {
  display: inline-block;
  margin-right: 10px;
}

button,
select {
  background-color: transparent;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: #4c3ca3;
  border: 1px solid hsl(5, 50%, 60%);
  border: none;
  font-family: inherit;
}

button:hover,
select:hover {
  cursor: pointer;
  font-style: italic;
}

.filtername {
	position: absolute;
	z-index: -999;
	top: 340px;
	right: 10px;
	text-align: right;
}

.filtername h3 {
	font-size: 4.7em;
	color: #e6e6e6;
	margin-right: 30px;
	padding-bottom: 120px;
} 

.filtername h3:hover {
	color: #292929;
}


.grid {
	display: inline-flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 100px;

}

.item {
  margin: 10px 30px 20px 0;
}

.archive-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding-left: 30px;
  padding-bottom: 50px;
}

.archive-img > img {
	box-shadow: 0px 0px 10px -3px hsla(0, 0%, 30%, 0.6);
}

#about {
	position: fixed;
	display: block;
	top: 130px;
	left: 200px;
	width: 75%;
	background-color: transparent;
}