body {
	background-color: white;
	font-family: 'Jost', sans-serif;
}

header {
	position: fixed;
	margin-left: -10px;
	padding: 20px 0px 0px 5px;
	background-image: linear-gradient(rgba(255,255,255, 1), rgba(255,255,255, .7), rgba(255,255,255, 0));
	text-align: right;
	width: 100%;
	height: 120px;
	top:0;
}

header h1 {
	color: black;
	margin-top: -6px;
	padding-right: 70px;
	font-family: 'Homemade Apple', cursive; 
	font-size: 2.5em;

}

header a {
	color: black;
	text-decoration: none;
}

header a:visited {
	color: black;
	text-decoration: none;
}

.btn {
	position: fixed;
	display: block;
	left: 50px;
	height: 30px;
	color: black;
	background-color: transparent;
	padding: 10px;
	margin-top: 100px;
}

.btn h2 {
	margin-top: -5px;
}


.menu {
  background-color: transparent;
  position: fixed;
  top: 100px;
  left: -15px;
  z-index: 2;
  padding: 10px 0 10px 20px;
  width: 40px;
  font-size: 1.5em;
  text-align: left;
  width: 100px;
}
.menu p {
	margin-left: 5px;
	text-rendering: bold;
}


button {
	border: none;
	color: transparent;
	position: relative;
	top: 10px;
	width: 20px;
	background-color: #f0f0f0;
	text-rendering: none;
	transition: all 0.3s ease-in-out;
	padding: 5px;

}

button:hover {
	color: black;
	width: 100%;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

button a{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}



.controls > * {
  display: inline-block;
  margin-right: 10px;
}

.filtername {
	position: absolute;
	z-index: -999;
	top: 340px;
	right: 10px;
	text-align: right;
}

.filtername h3 {
	font-size: 4.7em;
	color: #e6e6e6;
	margin-right: 30px;
	padding-bottom: 115px;
	transition: all 0.3s ease-in-out;
} 

.filtername h3:hover {
	color: #292929;
	transition: all 0.3s ease-in-out;
}


.grid {
	display: inline-flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 100px;

}

.item {
  margin: 10px 30px 20px 0;
}

.archive-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding-left: 50px;
  padding-bottom: 50px;
}

.archive-image img {
	box-shadow: 0px 0px 10px -3px hsla(0, 0%, 30%, 0.6);
}

#about {
	position: fixed;
	display: block;
	top: 130px;
	left: 200px;
	width: 75%;
	background-color: transparent;
}

#about p{
	text-align: left; 
	font-size: 1.5em;
}


#bottombar {
  display: none;
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* MOBILE VIEW */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 828px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

header {
	text-align: left;
	height: 130px;
}

header h1 {
	font-size: 3.5em;
	margin-top: 5px;
	margin-left: 25px;

}

.grid {
	margin-top: 120px;
}
.menu {
	display: none;
}


.archive-image {
  width: 260px;
  height: 260px;
  padding-left: 20px;
  padding-bottom: 40px;
} 

#bottombar {
	display: block;
  position: fixed;
  background-color: #f0f0f0;
  left: -7px;
  bottom: -10px;
  height: 100px;
  z-index: 2;
  padding: 10px 0 10px 20px;
  font-size: 1.5em;
  width: 100%;
}


button {
	border: none;
	color: white;
	position: relative;
	width: 49%;
	text-align: center;
	transition: all 0.3s ease-in-out;
}

button p {
	margin-top: 0px;
	font-size: 5em;
	font-style: italic;
}

button:hover {
	width: 49%;
}

#about p{
	text-align: left; 
	font-size: 2.5em;
}

.filtername {
	top: 310px;
}

.filtername h3 {
	padding-bottom: 22px;
} 


