
/*STYLE*/


body {
	background-color: black;
	font-family: 'Roboto Mono';
	color: #e8e8e8;}
			
header {
	margin: 0 auto;
	width: 100%;
	position:fixed;
	text-align: center;
	height: 100px;
	padding: 5px;
	top: 0;
	background-color: black;
	z-index: 12;
	}

a {
	color: #a6e7ff;
}

h1 {
	margin-bottom: -4px;
}

#title {
	position:relative;
	font-size: 1.5em;
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-top: 120px;
	z-index: 11;
	width: 100%;
}


#cormid {
	position: relative;
	display: block;
	background-color: #212121;
	margin: 0 auto;
	width: 770px;
	height: 390px;
	text-align: left;
	padding-top: 120px;
	padding-left: 30px;
	border: 10px;
	border-color: transparent;
	border-style: solid;
}


#cormid:hover {
	background-color:  #212121;
	border-color: #ffeb59;
	border-style: ridge;
}

#cormid p {
	font-size: 1.2em;
}

#grey {
	position: static;
	z-index: -1;
	margin-top: -80px;
	width: 100%;
	height: 1220px;
	background-color: #212121;
	padding: 100px 0px 0px 0px;
}

#print1 {
	position: relative;
	background-color: #9c0044;
	left: 45px;
	bottom: 40px;
	width: 80px;
	height:100px;
	border: 5px;
	border-color: #8c7f6d;
	border-style: ridge;
	text-align: left;
	padding: 40px 30px 30px 30px;
	color:transparent;
}

#print1 p:hover {
	color: #e8e8e8;
}


#print2 {
	position: relative;
	background-color: #00249c;
	left: 650%;
	bottom: 40px;
	top: -134px;
	width:80px;
	height:120px;
	border: 5px;
	border-color: #8c7f6d;
	border-style: ridge;
	text-align: center;
	padding: 0px 30px 50px 30px;
	color: transparent;
}

#print3 {
	position: relative;
	background-color: #008028;	
	left: 550%;
	top: -152px;
	width:80px;
	height:110px;
	border: 5px;
	border-color: #8c7f6d;
	border-style: ridge;
	text-align: right;
	padding: 30px
}

#rings {
	position: relative;
	text-align: center; 
	margin-top: -160px; 
	z-index: 10;
}

#rings p {
	font-size: 10em; 
	color:#a1a1a1;
}

#curtain {
	margin-top: -225px;
	display: block;
	background-color: black;
	height: 600px;
	width: 50px;
	position: relative;
	left: 33px;
	z-index: 0;
}

#curtain:hover {
	background-color: #bdbdbd;
}
.curtains {
	margin-top: -19px;
	display: block;
	background-color: black;
	height: 600px;
	width: 50px;
	position: relative;
	left: 96px;
	z-index: 0;
}

.curtains:hover {
	background-color: #bdbdbd;
}


#yellowfloor {
	width: 97%;
	height:500px;
	padding:20px;
	background-color: #403f2f;
	text-align: center;
	font-size: 1.5em;
	color: #fff426;
	font-size: 1.3em;
}

#rug1 {
	position: relative;
	background-color: #d8deed;
	left: 45px;
	bottom: 40px;
	top: -250px;
	width: 100px;
	height: 130px;
	border: 5px;
	border-color: #d1b977;
	border-style: double;
	text-align: left;
	padding: 30px;
	font-size: 2.5em;
}

#rug2 {
	position: relative;
	background-color: #f5e9dc;
	left: 470px;
	bottom: 40px;
	top: -250px;
	width: 100px;
	height:130px;
	border: 5px;
	border-color: #d1b977;
	border-style: double;
	text-align: center;
	padding: 30px;
}

#rug3 {
	position: relative;
	background-color: #f2e6f7;	
	left: 470px;
	top: -250px;
	width:100px;
	height:130px;
	border: 5px;
	border-color: #d1b977;
	border-style: double;
	text-align: right;
	padding: 30px;
}

#twentythree {
	position: static;
	top: -50px;
	background-color: transparent;
	display: inline;
	width: 100%
	height: 50px;
	text-align: center;
	font-size: 1.1em;
	padding:10px;
}

#twentythree h1 {
	margin-top: -150px;
	padding: 15px;
	border: 2px double #d1b977;
}

#cherrywood1 {
	position: static;
	display: block;
	margin-left: 20px;
	width: 180px;
	height:500px;
	background-color:#e0a080;
	border: 4px ridge #ffc5a8;
	z-index: 1;
}

#cherrywood2 {
	position: relative;
	display: block;
	margin-top: -475px;
	margin-left: 670px;
	width: 180px;
	height:500px;
	background-color:#e0a080;
	border: 4px ridge #ffc5a8;
	z-index: 0;
}

#sofabody {
	position: relative;
	display: block;
	width: 650px;
	height: 220px;
	margin-left: 50px;
	margin-top: -220px;
	background-color: #ededed;
	border: 20px ridge white;
	border-radius: 15px;
	z-index: 2;
}

#seat {
	position: relative;
	display: block;
	width: 620px;
	height: 70px;
	margin-left: 0px;
	margin-top: 120px;
	background-color: #ededed;
	border: 20px ridge white;
	border-radius: 15px;
	z-index: 3;
}

#leftarm {
	position: relative;
	display: block;
	width: 100px;
	height: 110px;
	margin-left: -30px;
	margin-top: -140px;
	background-color: #ededed;
	border: 20px ridge white;
	border-radius: 15px;
	z-index: 10;
}


#rightarm {
	position: relative;
	display: block;
	width: 100px;
	height: 110px;
	margin-left: 540px;
	margin-top: -150px;
	background-color: #ededed;
	border: 20px ridge white;
	border-radius: 15px;
	z-index: 15;
}

#sofatext {
	display: inline-block;
	position: relative;
	text-align: justify;
	float: right;
	margin-right: 40px;
	margin-top: 20px;
	width: 300px;
	background-color: transparent;
	height: 350px;
	padding: 5px 20px 20px 20px;
	}

