
/*INDEX STYLE*/

p {
	font-size: .8em;
}

header h3{
	background-color: transparent;
	border: none;
	padding: none;
	margin-top: -20px;
}

body {
	background-image: linear-gradient(to bottom, rgba(255,255,255), rgba(236,255,191), rgba(191,255,212), rgba(191,225,225), rgba(229,216,255), rgba(255,216,253), rgba(255,114,107));
	font-family: 'avenir';
	text-align: center;
}


h3 {
	font-color: white;
	border: 2px solid grey;
	padding: 10px;
	margin-top: -65px;
}

.flex-container {
  height: 100%;
  display:flex;
  background-color: transparent;
  flex-wrap: row;
  justify-content: center;
}

.flex-container > div {
  background-color: white;
  height: 100%;
  width: 500px;
  margin: 10px;
  padding: 10px 20px 10px 20px;
}

