
/*INDEX STYLE*/

p {
	font-size: .8em;
}

header{
	width: 100%;
	position: fixed;
	margin-top:-20px;
	background-color: white;
}


header h3{
	background-color: transparent;
	border: none;
	padding: none;
	margin-top: -20px;
}

body {
	background-image: linear-gradient(to bottom, rgba(255,255,255), rgba(236,255,191), rgba(191,255,212), rgba(191,225,225), rgba(229,216,255), rgba(255,216,253), rgba(255,114,107));
	font-family: 'avenir';
	text-align: center;
}


h3 {
	font-color: white;
	border: 2px solid grey;
	padding: 10px;
	margin-top: -65px;
}

#title {
	position: static;
	width: 100%;
	text-align: center;
	margin-top: 80px;
}

.flex-container {
  height: 100%;
  display:flex;
  background-color: transparent;
  flex-wrap: row;
  justify-content: center;
}

.flex-container > div {
  background-color: white;
  height: 100%;
  width: 500px;
  margin: 10px;
  padding: 10px 20px 10px 20px;
}



/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* MOBILE VIEW */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 828px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

header {
	background-color: white;
	position: fixed;
	margin-top: -20px;
	width: 100%;}

h3 {
	font-size: 2em;
}

p {
	font-size: 1.7em;
}

#title {
	margin-top: 150px;
	position: static;
	width: 100%;
	text-align: center;
}

.flex-container {
  height: 100%;
  display:flex;
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
}

.flex-container > div {
  background-color: transparent;
  height: 100%;
  width: 100%;
  margin: 10px;
  padding: 10px 20px 10px 20px;
}

}

