
/*INDEX STYLE*/

header{
	width: 101%;
	position: fixed;
	background-color: #38281e;
	z-index: 100;
	margin-top: -10px;
	margin-left:-9px;
	color: #f2e4c4;
}

header > a:visited {
	color: #f2e4c4;
}

body {
	background-image: linear-gradient(to bottom, rgba(54,36,25), rgba(54,49,32), rgba(37,54,32), rgba(37,51,47), rgba(25,40,51), rgba(50,37,51), rgba(51,37,37));
	font-family: 'bell mt';
	text-align: center;
	color: #f2e4c4;
}

p {
	line-height: 1.5;
}

#title {
	position: relative;
	width: 100%;
	text-align: center;
	font-family: 'Kristi', cursive;
	font-size: 5.5em;
	margin-top: 0px;
	color: #eb6952;
}

.flex-container {
	height: 100%;
	display:flex;
	background-color: transparent;
	flex-wrap: row;
	justify-content: center;
}

.flex-container > div {
	background-color: rgba(56,40,30, .3);
	border: 4px solid #38281e;
	height: 500px;
	width: 500px;
	margin: 10px;
	padding: 10px 20px 10px 20px;
	overflow: auto;
	transition: all 0.3s ease-in-out;
}

.flex-container > div:hover {
  background-color: rgba(56,40,30, 1);
}

.flex-container > h3 {
	background-color: white;
	border: 2px white;

}



/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* MOBILE VIEW */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 828px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

header {
	background-color: rgba(54,36,25)}

h3 {
	font-size: 2em;
}

p {
	font-size: 1.7em;
}

#title {
	margin-top: 140px;
	position: static;
	width: 100%;
	text-align: center;
}

.flex-container {
  height: 100%;
  display:flex;
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
}

.flex-container > div {
  background-color: transparent;
  height: 100%;
  width: 100%;
  margin: 10px;
  padding: 10px;
}

}

